---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=pueblo,co&key=<GOOGLE_API_KEY>&origin=rufio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "ZERO_RESULTS"
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "routes" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Tue, 21 Apr 2020 16:15:11 GMT
recorded_with: VCR 5.1.0
