---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"IJMrSYJ7pDo","created_at":"2020-02-10T18:55:20-05:00","updated_at":"2020-02-11T21:55:30-05:00","promoted_at":null,"width":5184,"height":3456,"color":"#FDFEFE","description":"Friends
        in graffiti alley smoking cigarettes","alt_description":"woman in black jacket
        sitting on black metal bench","urls":{"raw":"https://images.unsplash.com/photo-1581378665435-1a843f55148d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1581378665435-1a843f55148d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1581378665435-1a843f55148d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1581378665435-1a843f55148d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1581378665435-1a843f55148d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/IJMrSYJ7pDo","html":"https://unsplash.com/photos/IJMrSYJ7pDo","download":"https://unsplash.com/photos/IJMrSYJ7pDo/download","download_location":"https://api.unsplash.com/photos/IJMrSYJ7pDo/download"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"user":{"id":"d3AuLN3uzts","updated_at":"2020-04-10T12:44:08-04:00","username":"gms_design","name":"Gina
        Santangelo","first_name":"Gina","last_name":"Santangelo","twitter_username":"gina_514","portfolio_url":"http://www.gmsdesign.solutions","bio":null,"location":"Phoenix,
        Arizona","links":{"self":"https://api.unsplash.com/users/gms_design","html":"https://unsplash.com/@gms_design","photos":"https://api.unsplash.com/users/gms_design/photos","likes":"https://api.unsplash.com/users/gms_design/likes","portfolio":"https://api.unsplash.com/users/gms_design/portfolio","following":"https://api.unsplash.com/users/gms_design/following","followers":"https://api.unsplash.com/users/gms_design/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"gms_design_","total_collections":0,"total_likes":1,"total_photos":19,"accepted_tos":true},"exif":{"make":"Canon","model":"Canon
        EOS REBEL T3i","exposure_time":"1/60","aperture":"5.6","focal_length":"48.0","iso":100},"location":{"title":"RiNo,
        Denver, CO, USA","name":"RiNo, Denver, CO, USA","city":"Denver","country":"United
        States","position":{"latitude":39.7665608,"longitude":-104.9836681}},"views":17871,"downloads":39},{"id":"MiBhRXR6-Co","created_at":"2020-04-01T22:07:27-04:00","updated_at":"2020-04-02T07:35:37-04:00","promoted_at":null,"width":5000,"height":3571,"color":"#C3B1A3","description":"Burrowing
        Owl","alt_description":"brown owl on brown ground during daytime","urls":{"raw":"https://images.unsplash.com/photo-1585793222663-5dd38f837f21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1585793222663-5dd38f837f21?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&c[...]
