---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"cCG93ftFWfs","created_at":"2019-04-23T13:43:48-04:00","updated_at":"2019-10-18T01:25:17-04:00","promoted_at":null,"width":3024,"height":4032,"color":"#F6ECF2","description":null,"alt_description":"white-petaled
        flower","urls":{"raw":"https://images.unsplash.com/photo-1556041409-99d4a6422adb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1556041409-99d4a6422adb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1556041409-99d4a6422adb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1556041409-99d4a6422adb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1556041409-99d4a6422adb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/cCG93ftFWfs","html":"https://unsplash.com/photos/cCG93ftFWfs","download":"https://unsplash.com/photos/cCG93ftFWfs/download","download_location":"https://api.unsplash.com/photos/cCG93ftFWfs/download"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"user":{"id":"ptQ4gRY2bfM","updated_at":"2020-04-14T05:21:58-04:00","username":"elijahbeaton","name":"Elijah
        Beaton","first_name":"Elijah","last_name":"Beaton","twitter_username":null,"portfolio_url":null,"bio":"look
        here are some photos i took of things that i see sometimes","location":null,"links":{"self":"https://api.unsplash.com/users/elijahbeaton","html":"https://unsplash.com/@elijahbeaton","photos":"https://api.unsplash.com/users/elijahbeaton/photos","likes":"https://api.unsplash.com/users/elijahbeaton/likes","portfolio":"https://api.unsplash.com/users/elijahbeaton/portfolio","following":"https://api.unsplash.com/users/elijahbeaton/following","followers":"https://api.unsplash.com/users/elijahbeaton/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1564089526633-a70df4443a64?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1564089526633-a70df4443a64?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1564089526633-a70df4443a64?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"eli_beaton","total_collections":3,"total_likes":17,"total_photos":44,"accepted_tos":true},"exif":{"make":"Apple","model":"iPhone
        X","exposure_time":"1/121","aperture":"2.4","focal_length":"6.0","iso":25},"location":{"title":"Denver
        Botanic Gardens, 1007 York St, Denver, CO 80206, USA, United States","name":"Denver
        Botanic Gardens, 1007 York St, Denver, CO 80206, USA, United States","city":"Denver","country":"United
        States","position":{"latitude":39.73217222,"longitude":-104.96244444}},"views":22059,"downloads":113},{"id":"vhztm9QC0L0","created_at":"2019-11-24T19:53:08-05:00","updated_at":"2020-04-14T01:03:18-04:00","promoted_at":"2019-11-25T05:01:22-05:00","width":5760,"height":3840,"color":"#2A1C0C","description":"\ud83d\udcf7
        : Kylie Fitts / www.kyliefitts.com","alt_description":"white bed sheet","urls":{"raw":"https://images.unsplash.com/photo-1574643156929-51fa098b0394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1574643156929-51fa098b0394?ixlib=rb[...]
