---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"UGopgsSYsyw","created_at":"2020-03-12T18:19:25-04:00","updated_at":"2020-03-13T11:16:02-04:00","promoted_at":null,"width":6000,"height":4000,"color":"#F0DCC7","description":"Lounging
        house cat, belly up","alt_description":"brown tabby cat lying on brown wooden
        floor","urls":{"raw":"https://images.unsplash.com/photo-1584051509814-62f000ff61db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1584051509814-62f000ff61db?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1584051509814-62f000ff61db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1584051509814-62f000ff61db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1584051509814-62f000ff61db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/UGopgsSYsyw","html":"https://unsplash.com/photos/UGopgsSYsyw","download":"https://unsplash.com/photos/UGopgsSYsyw/download","download_location":"https://api.unsplash.com/photos/UGopgsSYsyw/download"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"user":{"id":"d3AuLN3uzts","updated_at":"2020-04-10T12:44:08-04:00","username":"gms_design","name":"Gina
        Santangelo","first_name":"Gina","last_name":"Santangelo","twitter_username":"gina_514","portfolio_url":"http://www.gmsdesign.solutions","bio":null,"location":"Phoenix,
        Arizona","links":{"self":"https://api.unsplash.com/users/gms_design","html":"https://unsplash.com/@gms_design","photos":"https://api.unsplash.com/users/gms_design/photos","likes":"https://api.unsplash.com/users/gms_design/likes","portfolio":"https://api.unsplash.com/users/gms_design/portfolio","following":"https://api.unsplash.com/users/gms_design/following","followers":"https://api.unsplash.com/users/gms_design/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1578507783778-4a51b2877681image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"gms_design_","total_collections":0,"total_likes":1,"total_photos":19,"accepted_tos":true},"exif":{"make":"SONY","model":"ILCE-6000","exposure_time":"1/20","aperture":"2.8","focal_length":"50.0","iso":3200},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":2803,"downloads":33},{"id":"v_f2cTy4Uvo","created_at":"2019-08-03T16:16:19-04:00","updated_at":"2019-12-07T00:03:47-05:00","promoted_at":"2019-08-03T16:37:22-04:00","width":3276,"height":4096,"color":"#040409","description":"Colorado
        Flag","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1564863268072-6142522be9f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1564863268072-6142522be9f4?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJ[...]
