---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"FcERV-3hPm8","created_at":"2019-12-10T00:02:54-05:00","updated_at":"2020-02-07T00:05:28-05:00","promoted_at":null,"width":5184,"height":3456,"color":"#09090A","description":"Mountians","alt_description":"snow
        covered mountain","urls":{"raw":"https://images.unsplash.com/photo-1575953909522-02e6382bd61f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1575953909522-02e6382bd61f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1575953909522-02e6382bd61f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1575953909522-02e6382bd61f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1575953909522-02e6382bd61f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/FcERV-3hPm8","html":"https://unsplash.com/photos/FcERV-3hPm8","download":"https://unsplash.com/photos/FcERV-3hPm8/download","download_location":"https://api.unsplash.com/photos/FcERV-3hPm8/download"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"user":{"id":"6qvMO5Z-4EE","updated_at":"2020-02-16T23:00:54-05:00","username":"brandonmessner","name":"Brandon
        Messner","first_name":"Brandon","last_name":"Messner","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Denver,
        Colorado","links":{"self":"https://api.unsplash.com/users/brandonmessner","html":"https://unsplash.com/@brandonmessner","photos":"https://api.unsplash.com/users/brandonmessner/photos","likes":"https://api.unsplash.com/users/brandonmessner/likes","portfolio":"https://api.unsplash.com/users/brandonmessner/portfolio","following":"https://api.unsplash.com/users/brandonmessner/following","followers":"https://api.unsplash.com/users/brandonmessner/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1575261322809-c63e3b004b7fimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1575261322809-c63e3b004b7fimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1575261322809-c63e3b004b7fimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"brandon.messner","total_collections":0,"total_likes":1,"total_photos":27,"accepted_tos":true},"exif":{"make":"Canon","model":"Canon
        EOS REBEL T5","exposure_time":"1/500","aperture":"8.0","focal_length":"300.0","iso":1600},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.7392358,"longitude":-104.990251}},"views":3771,"downloads":34},{"id":"k4TE7Z-nK8M","created_at":"2020-03-30T15:53:47-04:00","updated_at":"2020-04-21T01:16:05-04:00","promoted_at":null,"width":8043,"height":12036,"color":"#13100D","description":"Model
        at Denver Botanic Gardens. ","alt_description":"woman in white shirt smiling","urls":{"raw":"https://images.unsplash.com/photo-1585598007006-2995ea95e22a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1585598007006-2995ea95e22a?ixlib=rb-1.2.1&q=85&fm=jpg&crop=[...]
