---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"R2Gg2_3-8aI","created_at":"2019-09-04T23:44:03-04:00","updated_at":"2020-04-07T01:06:35-04:00","promoted_at":null,"width":4680,"height":3120,"color":"#000000","description":"the
        bitterest tears shed over graves are for words left unsaid and deeds left
        undone\n- harriet beecher ","alt_description":"low-angle photography of steel
        bridge","urls":{"raw":"https://images.unsplash.com/photo-1567654840515-cd1fb0bd898d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1567654840515-cd1fb0bd898d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1567654840515-cd1fb0bd898d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1567654840515-cd1fb0bd898d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1567654840515-cd1fb0bd898d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/R2Gg2_3-8aI","html":"https://unsplash.com/photos/R2Gg2_3-8aI","download":"https://unsplash.com/photos/R2Gg2_3-8aI/download","download_location":"https://api.unsplash.com/photos/R2Gg2_3-8aI/download"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"user":{"id":"XFHPUQCLl1o","updated_at":"2020-04-20T16:44:50-04:00","username":"lgnwvr","name":"LOGAN
        WEAVER","first_name":"LOGAN","last_name":"WEAVER","twitter_username":"lgnwvrphto","portfolio_url":"https://www.lgnwvrphto.com/","bio":"without
        art, war","location":"denver, co","links":{"self":"https://api.unsplash.com/users/lgnwvr","html":"https://unsplash.com/@lgnwvr","photos":"https://api.unsplash.com/users/lgnwvr/photos","likes":"https://api.unsplash.com/users/lgnwvr/likes","portfolio":"https://api.unsplash.com/users/lgnwvr/portfolio","following":"https://api.unsplash.com/users/lgnwvr/following","followers":"https://api.unsplash.com/users/lgnwvr/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1565854898152-9b08f669229dimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1565854898152-9b08f669229dimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1565854898152-9b08f669229dimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Lgnwvrphto","total_collections":16,"total_likes":7289,"total_photos":1723,"accepted_tos":true},"exif":{"make":"Canon","model":"Canon
        EOS 6D Mark II","exposure_time":"1/500","aperture":"5.6","focal_length":"50.0","iso":125},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.7392358,"longitude":-104.990251}},"views":30502,"downloads":43},{"id":"am-a5_e8df0","created_at":"2020-03-25T19:42:17-04:00","updated_at":"2020-04-14T01:10:18-04:00","promoted_at":"2020-03-26T06:52:14-04:00","width":5046,"height":7064,"color":"#D7D9D4","description":null,"alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1585179292338-45ba1f62f082?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1585179292338-45ba1f62f082?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN3[...]
