---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 19 Apr 2020 02:00:45 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6aa2f8000716229a782d62a10ca9c500&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","current":{"dt":1587261560,"sunrise":1587212218,"sunset":1587260455,"temp":43.32,"feels_like":37.45,"pressure":1011,"humidity":57,"dew_point":29.46,"uvi":7.17,"clouds":75,"visibility":16093,"wind_speed":3.36,"wind_deg":290,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"rain":{}},"hourly":[{"dt":1587258000,"temp":43.32,"feels_like":33.62,"pressure":1011,"humidity":57,"dew_point":29.46,"clouds":75,"wind_speed":10.16,"wind_deg":351,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1587261600,"temp":45.05,"feels_like":38.17,"pressure":1011,"humidity":47,"dew_point":26.74,"clouds":87,"wind_speed":4.47,"wind_deg":2,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.27}},{"dt":1587265200,"te[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=broken%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"QOkr2RY4DT4","created_at":"2018-08-06T13:25:10-04:00","updated_at":"2020-04-07T01:10:09-04:00","promoted_at":null,"width":5184,"height":3429,"color":"#1D2427","description":"Islas
        Ballestas pt.1","alt_description":"metal bridge near boat during daytime","urls":{"raw":"https://images.unsplash.com/photo-1533575988569-5d0786b24c67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1533575988569-5d0786b24c67?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1533575988569-5d0786b24c67?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1533575988569-5d0786b24c67?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1533575988569-5d0786b24c67?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/QOkr2RY4DT4","html":"https://unsplash.com/photos/QOkr2RY4DT4","download":"https://unsplash.com/photos/QOkr2RY4DT4/download","download_location":"https://api.unsplash.com/photos/QOkr2RY4DT4/download"},"categories":[],"likes":34,"liked_by_user":false,"current_user_collections":[],"user":{"id":"4Tn2wmNzNKk","updated_at":"2020-04-16T20:35:01-04:00","username":"giancarlor_photo","name":"Giancarlo
        Revolledo","first_name":"Giancarlo","last_name":"Revolledo","twitter_username":null,"portfolio_url":"https://giancarlorevolledo.tumblr.com/","bio":"Vide\u00f3grafo
        /  Fot\u00f3grafo \r\nContact: Giancarlo.Revolledo@gmail.com","location":"Lima
        - Per\u00fa","links":{"self":"https://api.unsplash.com/users/giancarlor_photo","html":"https://unsplash.com/@giancarlor_photo","photos":"https://api.unsplash.com/users/giancarlor_photo/photos","likes":"https://api.unsplash.com/users/giancarlor_photo/likes","portfolio":"https://api.unsplash.com/users/giancarlor_photo/portfolio","following":"https://api.unsplash.com/users/giancarlor_photo/following","followers":"https://api.unsplash.com/users/giancarlor_photo/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1516641197369-57010219a454?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1516641197369-57010219a454?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1516641197369-57010219a454?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"giancarlor_photo","total_collections":0,"total_likes":1,"total_photos":95,"accepted_tos":true},"exif":{"make":"Canon","model":"Canon
        EOS REBEL T5","exposure_time":"1/800","aperture":"5.6","focal_length":"18.0","iso":100},"location":{"title":"Islas
        Ballestas, Peru","name":"Islas Ballestas, Peru","city":null,"country":"Peru","position":{"latitude":-13.7318314,"longitude":-76.3977304}},"views":332659,"downloads":1718},{"id":"-cdWgzDnCCI","created_at":"2019-06-27T12:29:39-04:00","updated_at":"2020-04-14T01:13:53-04:00","promoted_at":"2019-06-28T12:01:06-04:00","width":3303,"height":4304,"color":"#676A43","description":null,"alt_description":"white-petaled
        flower","urls":{"raw":"https://images.unsplash.com/photo-1561652970-725490281931?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1561652970-725490281931?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=[...]
