---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 21 Apr 2020 16:00:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6aa2f8000716229a782d62a10ca9c500&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","current":{"dt":1587484259,"sunrise":1587471164,"sunset":1587519838,"temp":54.12,"feels_like":49.26,"pressure":1017,"humidity":43,"dew_point":32.14,"uvi":8.05,"clouds":40,"visibility":16093,"wind_speed":2.3,"wind_deg":99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1587481200,"temp":54.12,"feels_like":49.26,"pressure":1017,"humidity":43,"dew_point":32.14,"clouds":40,"wind_speed":2.3,"wind_deg":99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1587484800,"temp":56.23,"feels_like":50.11,"pressure":1015,"humidity":32,"dew_point":27.39,"clouds":28,"wind_speed":3.27,"wind_deg":89,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1587488400,"temp":58.53,[...]
