---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6aa2f8000716229a782d62a10ca9c500&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","current":{"dt":1587244476,"sunrise":1587212218,"sunset":1587260455,"temp":48.63,"feels_like":39.24,"pressure":1011,"humidity":61,"dew_point":35.82,"uvi":7.17,"clouds":90,"visibility":16093,"wind_speed":11.41,"wind_deg":140,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1587243600,"temp":48.63,"feels_like":38.84,"pressure":1011,"humidity":61,"dew_point":35.82,"clouds":90,"wind_speed":12.1,"wind_deg":140,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.18}},{"dt":1587247200,"temp":49.39,"feels_like":40.6,"pressure":1008,"humidity":49,"dew_point":31.17,"clouds":95,"wind_speed":8.99,"wind_deg":157,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.14}},{"dt":1587250800,"temp":51.78,"feels_like":46.38,"pressure":1008,"humidity":38,"dew_point":27.59,"clouds":98,"wind_speed":2.06,"wind_deg":258,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0[...]
