---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "P2Q5+MV Denver, CO, USA",
              "global_code" : "85FQP2Q5+MV"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "JDC",
                       "short_name" : "JDC",
                       "types" : [ "airport", "establishment", "point_of_interest" ]
                    },
                    {
                       "long_name" : "Civic Center",
                       "short_name" : "Civic Center",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "80202",
                       "short_name" : "80202",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "JDC, Denver, CO 80202, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.74058478029149,
                          "lng" : -104.9889020197085
                       },
                       "southwest" : {
                          "lat" : 39.73788681970849,
                          "lng" : -104.9915999802915
                       }
                    }
                 },
                 "place_id" : "ChIJ0Um4cy95bIcR9OUbxyaeWx0",
                 "plus_code" : {
                    "compound_code" : "P2Q5+MV Denver, Colorado, United States",
                    "global_code" : "85FQP2Q5+MV"
                 },
                 "types" : [ "airport", "establishment", "point_of_interest" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "1437",
                       "short_name" : "1437",
                 [...]
