---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"Ym5oKbreCCs","created_at":"2020-01-10T00:48:16-05:00","updated_at":"2020-03-21T01:04:09-04:00","promoted_at":null,"width":5964,"height":3976,"color":"#E0DFDD","description":"Rocky
        Mountain Rolling Plains","alt_description":"green field under blue sky","urls":{"raw":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/Ym5oKbreCCs","html":"https://unsplash.com/photos/Ym5oKbreCCs","download":"https://unsplash.com/photos/Ym5oKbreCCs/download","download_location":"https://api.unsplash.com/photos/Ym5oKbreCCs/download"},"categories":[],"likes":5,"liked_by_user":false,"current_user_collections":[],"user":{"id":"t2RB-3lbgSk","updated_at":"2020-03-27T18:48:14-04:00","username":"rdehamer","name":"Ryan
        De Hamer","first_name":"Ryan","last_name":"De Hamer","twitter_username":null,"portfolio_url":"http://www.dehamermedia.com","bio":"Midwest
        -> Anywhere\r\nMy images are collected all around the country working with
        brands, athletes and fitness influencers","location":null,"links":{"self":"https://api.unsplash.com/users/rdehamer","html":"https://unsplash.com/@rdehamer","photos":"https://api.unsplash.com/users/rdehamer/photos","likes":"https://api.unsplash.com/users/rdehamer/likes","portfolio":"https://api.unsplash.com/users/rdehamer/portfolio","following":"https://api.unsplash.com/users/rdehamer/following","followers":"https://api.unsplash.com/users/rdehamer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Ryan_dehamer","total_collections":6,"total_likes":0,"total_photos":59,"accepted_tos":true},"exif":{"make":null,"model":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.7392358,"longitude":-104.990251}},"views":43245,"downloads":273},{"id":"CDJCAcAAPlU","created_at":"2019-04-02T18:45:36-04:00","updated_at":"2020-04-14T01:03:19-04:00","promoted_at":null,"width":3729,"height":3729,"color":"#0C1612","description":"The
        gorgeous Victoria again, practicing in my home studio. We had SO MUCH FUN.\r\n\r\nyogagen.co\r\n\r\n@yogagenapp","alt_description":"woman
        doing yoga","urls":{"raw":"https://images.unsplash.com/photo-1554245064-3ab88761ac5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.uns[...]
