---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"V3lJ6l6afrU","created_at":"2019-09-15T21:42:05-04:00","updated_at":"2020-03-14T01:04:04-04:00","promoted_at":null,"width":4240,"height":2832,"color":"#090705","description":"sunflowers
        near Denver airport","alt_description":"yellow sunflowers","urls":{"raw":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/V3lJ6l6afrU","html":"https://unsplash.com/photos/V3lJ6l6afrU","download":"https://unsplash.com/photos/V3lJ6l6afrU/download","download_location":"https://api.unsplash.com/photos/V3lJ6l6afrU/download"},"categories":[],"likes":2,"liked_by_user":false,"current_user_collections":[],"user":{"id":"17T2WlovpRw","updated_at":"2020-04-14T14:15:00-04:00","username":"freetousesoundscom","name":"Free
        To Use Sounds","first_name":"Free To","last_name":"Use Sounds","twitter_username":"freetousesounds","portfolio_url":"https://www.freetousesounds.com","bio":"Hi,
        I''m Marcel and I''ve been traveling around the world for almost 5 years &
        currently under lockdown in La R\u00e9union. I hope everyone stays safe &
        healthy out there! Feel free to visit my website Free To Use Sounds & IG account
        to stay connected. ","location":"Los Angeles","links":{"self":"https://api.unsplash.com/users/freetousesoundscom","html":"https://unsplash.com/@freetousesoundscom","photos":"https://api.unsplash.com/users/freetousesoundscom/photos","likes":"https://api.unsplash.com/users/freetousesoundscom/likes","portfolio":"https://api.unsplash.com/users/freetousesoundscom/portfolio","following":"https://api.unsplash.com/users/freetousesoundscom/following","followers":"https://api.unsplash.com/users/freetousesoundscom/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"freetousesounds","total_collections":0,"total_likes":4,"total_photos":296,"accepted_tos":true},"exif":{"make":"SONY","model":"ILCE-7S","exposure_time":"1/8000","aperture":"2","focal_length":"28.0","iso":100},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.7392358,"longitude":-104.990251}},"views":37216,"downloads":85},{"id":"JA5xlI_NLBc","created_at":"2019-10-08T03:09:08-04:00","updated_at":"2019-12-07T00:08:05-05:00","promoted_at":null,"width":3968,"height":3968,"color":"#110C12","description":"Custom
        exhaust yamaha r1. Graffiti. ","alt_description":"black sports motorcycle","urls":{"raw":"https://images.unsplash.com/photo-1570518522302-0226975aaeed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1570518522302-0226975aaeed?ixlib=rb-1.2.1&q=85&fm=jpg&crop=ent[...]
