---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"GsQ-LGlxcfQ","created_at":"2020-02-08T21:42:17-05:00","updated_at":"2020-02-20T23:44:58-05:00","promoted_at":null,"width":5184,"height":3456,"color":"#EEE3CF","description":"Sunflowers
        in Denver, Colorado","alt_description":"yellow sunflower field under blue
        sky during daytime","urls":{"raw":"https://images.unsplash.com/photo-1581216134330-098fcb5d284d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1581216134330-098fcb5d284d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1581216134330-098fcb5d284d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1581216134330-098fcb5d284d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1581216134330-098fcb5d284d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/GsQ-LGlxcfQ","html":"https://unsplash.com/photos/GsQ-LGlxcfQ","download":"https://unsplash.com/photos/GsQ-LGlxcfQ/download","download_location":"https://api.unsplash.com/photos/GsQ-LGlxcfQ/download"},"categories":[],"likes":3,"liked_by_user":false,"current_user_collections":[],"user":{"id":"Y8_2EorxzdU","updated_at":"2020-02-20T23:33:25-05:00","username":"dmilmont","name":"David
        Milmont","first_name":"David","last_name":"Milmont","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/dmilmont","html":"https://unsplash.com/@dmilmont","photos":"https://api.unsplash.com/users/dmilmont/photos","likes":"https://api.unsplash.com/users/dmilmont/likes","portfolio":"https://api.unsplash.com/users/dmilmont/portfolio","following":"https://api.unsplash.com/users/dmilmont/following","followers":"https://api.unsplash.com/users/dmilmont/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1578977573-e779148d5db6.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1578977573-e779148d5db6.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1578977573-e779148d5db6.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":null,"total_collections":0,"total_likes":0,"total_photos":10,"accepted_tos":true},"exif":{"make":"Canon","model":"Canon
        EOS REBEL T2i","exposure_time":"1/250","aperture":"4","focal_length":"50.0","iso":200},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.7392358,"longitude":-104.990251}},"views":9235,"downloads":91},{"id":"cCG93ftFWfs","created_at":"2019-04-23T13:43:48-04:00","updated_at":"2019-10-18T01:25:17-04:00","promoted_at":null,"width":3024,"height":4032,"color":"#F6ECF2","description":null,"alt_description":"white-petaled
        flower","urls":{"raw":"https://images.unsplash.com/photo-1556041409-99d4a6422adb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1556041409-99d4a6422adb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30",[...]
