---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=7X03WhP2opnv3EMAMd73q98eD_UZngH_3z-z53Z6hTg&count=10&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"8dYgkQb6mno","created_at":"2019-10-06T17:01:04-04:00","updated_at":"2020-04-07T01:15:43-04:00","promoted_at":null,"width":2899,"height":2899,"color":"#E5E2DE","description":"custom
        yamaha virago chain drive ducati rear","alt_description":"man riding a motorcycle
        on a sidewalk","urls":{"raw":"https://images.unsplash.com/photo-1570395657460-680c28f9fa0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1570395657460-680c28f9fa0c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQzN30","regular":"https://images.unsplash.com/photo-1570395657460-680c28f9fa0c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","small":"https://images.unsplash.com/photo-1570395657460-680c28f9fa0c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30","thumb":"https://images.unsplash.com/photo-1570395657460-680c28f9fa0c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQzN30"},"links":{"self":"https://api.unsplash.com/photos/8dYgkQb6mno","html":"https://unsplash.com/photos/8dYgkQb6mno","download":"https://unsplash.com/photos/8dYgkQb6mno/download","download_location":"https://api.unsplash.com/photos/8dYgkQb6mno/download"},"categories":[],"likes":27,"liked_by_user":false,"current_user_collections":[],"user":{"id":"4kO90-4DJgE","updated_at":"2020-04-06T08:58:28-04:00","username":"485designs","name":"nick
        mercer","first_name":"nick","last_name":"mercer","twitter_username":null,"portfolio_url":"http://www.485designs.net","bio":"Custom
        motorcycles, fabrication, & finishes","location":"Denver, CO","links":{"self":"https://api.unsplash.com/users/485designs","html":"https://unsplash.com/@485designs","photos":"https://api.unsplash.com/users/485designs/photos","likes":"https://api.unsplash.com/users/485designs/likes","portfolio":"https://api.unsplash.com/users/485designs/portfolio","following":"https://api.unsplash.com/users/485designs/following","followers":"https://api.unsplash.com/users/485designs/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1570395379662-025e8b6b8f20image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1570395379662-025e8b6b8f20image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1570395379662-025e8b6b8f20image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"485Designs","total_collections":0,"total_likes":0,"total_photos":17,"accepted_tos":true},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D750","exposure_time":"1/500","aperture":"1.4","focal_length":"85.0","iso":400},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.7392358,"longitude":-104.990251}},"views":13608,"downloads":131},{"id":"EKdStvZ1epU","created_at":"2020-03-25T20:08:49-04:00","updated_at":"2020-03-28T01:02:25-04:00","promoted_at":null,"width":5225,"height":7315,"color":"#FEFAFD","description":null,"alt_description":"black
        car on road near high rise buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1585181224361-bf013ae02039?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQzN30","full":"https://images.unsplash.com/photo-1585181224361-bf013ae02039?ixlib=rb-1.2.1&q=85&fm=jpg&crop=en[...]
