---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=hongkong&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hong Kong
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 20 Apr 2020 15:34:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=22.3193039,114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hong Kong
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "8599+PP Hong Kong",
              "global_code" : "7PJP8599+PP"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Mong Kok Station",
                       "short_name" : "Mong Kok Station",
                       "types" : [
                          "establishment",
                          "point_of_interest",
                          "subway_station",
                          "transit_station"
                       ]
             [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6aa2f8000716229a782d62a10ca9c500&lat=22.3193039&lon=114.1693611&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":22.32,"lon":114.17,"timezone":"Asia/Hong_Kong","current":{"dt":1587396892,"sunrise":1587333543,"sunset":1587379499,"temp":75.94,"feels_like":76.44,"pressure":1013,"humidity":78,"dew_point":68.59,"uvi":12.29,"clouds":20,"visibility":10000,"wind_speed":11.41,"wind_deg":150,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1587394800,"temp":75.94,"feels_like":79,"pressure":1013,"humidity":78,"dew_point":68.59,"clouds":20,"wind_speed":6.87,"wind_deg":168,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},{"dt":1587398400,"temp":75.2,"feels_like":79.14,"pressure":1013,"humidity":84,"dew_point":70.03,"clouds":10,"wind_speed":6.58,"wind_deg":160,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1587402000,"temp":74.68,"feels_like":79[...]
